{% extends "layout.html" %}
{% block content %}
    <h1>A-Level Topics</h1>
    <h3>Have some descriptive text here</h3>

    <table>
        <tr>
            <th>Topic name</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>Encryption</td>
            <td>Desc goes here</td>
            <td>Link goes here</td>
        </tr>
        <tr>
            <td>IP Addressing</td>
            <td>Desc goes here</td>
            <td>Link goes here</td>
        </tr>
    </table>
{% endblock content %}