{% extends "layout.html" %}
{% block content %}
    <h1>GCSE Topics</h1>
    <h3>Have some descriptive text here</h3>
    <br>
    <div class="grid-container">
        <a href="{{ url_for('cyberbullying') }}"><div class="grid-item cyberbullying">Databases and SQL</div></a>
        <a href="{{ url_for('phishing') }}"><div class="grid-item phishing">Phishing</div></a>
        <a href="{{ url_for('suspicious_links') }}"><div class="grid-item suspiciouslink">Suspicious Links</div></a>
    </div>
{% endblock content %}