{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to The Cyber Security Education Online Portal</h1>

    <h3>Leaderboard</h3>
    <div>
        <table class="leaderboard" style="width: 70%;">
            <th style="width: 85%">Name</th>
            <th>Points</th>
            {% for user in users %}
            {% if user.email == current_user.email %}
            <tr>
                <td style="border-radius: 40px; padding: 5px 20px 5px 20px;border: 5px solid red;border-radius: 9px;">{{user.first_name}}</td>
                <td style="border: 5px solid red">{{ user.points }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{ user.points }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tr>
        </table>
    </div>
{% endblock content %}