{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to The Cyber Security Education Online Portal</h1>

    <h3>Leaderboard</h3>
    <div>
        <table class="leaderboard" style="width: 70%;">
            <th style="width: 85%">Name</th>
            <th>Points</th>
            {% for user in users %}
            {% if user.email == current_user.email %}
            <tr>
                <td style="border: 5px solid red">{{user.first_name}}</td>
                <td style="border: 5px solid red">{{ user.points }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{ user.points }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tr>
            {% if current_user.is_authenticated == True and current_user not in users %}
                {% if position > 5 %}
                    <tr>
                        <td>Your position: {{position}}</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td style="border: 5px solid red">{{ current_user.first_name }}</td>
                        <td style="border: 5px solid red">{{ current_user.points }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>
    </div>
{% endblock content %}