<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8">
    <title>Cyber Security Educational Portal</title>
    <link href="//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="header">
        <div class="navbar">
            <div class="navbar-left">
                <div><a href="{{ url_for('home') }}">Home</a></div>&nbsp
                <div>|</div>
                <div><a href="{{ url_for('primary_school') }}">Primary School</a></div>
                <div><a href="{{ url_for('gcse') }}">GCSE</a></div>
                <div><a href="{{ url_for('a_level') }}">A-Level</a></div>
            </div>
            <div class="navbar-right">
            {% if current_user.is_authenticated %}
                <p>Welcome, {{ current_user.first_name }} | Points: {{ current_user.points }}</p>
                {% if current_user.role == ["admin"] %}
                    <div class="navbar_item">
                        <form action="{{ url_for('admin.index') }}">
                            <button class="admin">Admin</button>
                        </form>
                    </div>
                {% endif %}
                {% if "teacher" in current_user.role %}
                    <div class="navbar_item">
                        <form action="{{ url_for('teacher_home') }}">
                            <button class="teacher_home">Teacher's Page</button>
                        </form>
                    </div>
                {% endif %}
                <div class="navbar_item">
                    <form action="{{ url_for('profile') }}">
                        <button class="profile">Profile</button>
                    </form>
                </div>
                <div class="navbar_item">
                    <form action="{{ url_for('logout') }}">
                        <button class="logout">Logout</button>
                    </form>
                </div>
            {% else %}
                
                <div>
                    <form action="{{ url_for('login') }}">
                        <button class="login">Login</button>
                    </form>
                </div>
                <div>
                    <form action="{{ url_for('register') }}">
                        <button class="register">Register</button>
                    </form>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="content">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p style="
                        text-align: center;
                        color: #F29F05;">New message:</p>
                    <ul class="flashes">
                        {% for message in messages %}
                            <li style="
                                list-style: none;
                                text-align: center;
                                padding-bottom: 1rem;
                                color: #F29F05;
                            ">{{ message }}</li> <!--Sort the CSS for this-->
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        {% block content %}
        {% endblock %}
        <br>
    </div>
</body>
</html>