<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Cyber Security Educational Portal</title>
    <link href="//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="header">
        <div class="navbar">
            <div class="navbar-left">
                <div><a href="{{ url_for('home') }}">Home</a></div>&nbsp
                <div><a href="{{ url_for('about') }}">About Us</a></div>
                <div> </div>
                <div><a href="{{ url_for('primary_school') }}">Primary School</a></div>
                <div><a href="{{ url_for('gcse') }}">GCSE</a></div>
                <div><a href="{{ url_for('a_level') }}">A-Level</a></div>
            </div>
            <div class="navbar-right">
            {% if current_user.is_authenticated %}
                <p>Welcome, {{ current_user.first_name }}</p>
                <div class="navbar_item"><a href="{{ url_for('logout') }}">Logout</a></div>
            {% else %}
                
                <div>
                    <form action="{{ url_for('login') }}">
                        <button class="login">Login</button>
                    </form>
                </div>
                <div>
                    <form action="{{ url_for('register') }}">
                        <button class="register">Register</button>
                    </form>
                </div>
            {% endif %}
            </div>
        </div>
    </div>

    <div class="content">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <br>
        {% block content %}
        {% endblock %}
        <br>
    </div>
</body>
</html>