{% extends "layout.html" %}
{% block content %}

<div class="form f_login">
    <div class="title">Welcome Back</div>
    <div class="subtitle">Login to your account</div>
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div class="input-container ic1">
            {{ form.email(class_="input", placeholder=" ") }}
            <div class="cut" style="width:51px"></div>
            {{ form.email.label(class_="placeholder") }}
        </div>
        <div class="input-container ic2">
            {{ form.password(class_="input", placeholder=" ") }}
            <div class="cut" style="width:72px"></div>
            {{ form.password.label(class_="placeholder") }}
        </div>
        <button type="text" class="submit">Log In</button>
    </form>
    <br>
    <form action="{{ url_for('register') }}">
        <button class="register">Register</button>
    </form>
    <br>
    <div class="subtitle">Forgotten your password?</div>
</div>
{% endblock content %}