{% extends "layout.html" %}
{% block content %}
    <h1>Primary School Topics</h1>
    <h3>Have some descriptive text here</h3>

    <table>
        <tr>
            <th>Topic name</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>Cyberbullying</td>
            <td>Desc goes here</td>
            <td>Link goes here</td>
        </tr>
        <tr>
            <td>Phishing</td>
            <td>Desc goes here</td>
            <td>Link goes here</td>
        </tr>
        <tr>
            <td>Suspicious Links</td>
            <td>Desc goes here</td>
            <td>Link goes here</td>
        </tr>
    </table>
{% endblock content %}