{% extends "layout.html" %}
{% block content %}
    <div class="form f_register">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's create your account!</div>
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="input-container ic1">
                {{ form.first_name(class_="input", placeholder=" ") }}
                <div class="cut" style="width:79px"></div>
                {{ form.first_name.label(class_="placeholder") }}
            </div>
            <div class="input-container ic2">
                {{ form.last_name(class_="input", placeholder=" ") }}
                <div class="cut" style="width:79px"></div>
                {{ form.last_name.label(class_="placeholder") }}
            </div>
            <div class="input-container ic2">
                {{ form.email(class_="input", placeholder=" ") }}
                <div class="cut" style="width:51px"></div>
                {{ form.email.label(class_="placeholder") }}
            </div>
            <div class="input-container ic2">
                {{ form.password(class_="input", placeholder=" ") }}
                <div class="cut" style="width:72px"></div>
                {{ form.password.label(class_="placeholder") }}
            </div>
            <div class="input-container ic2">
                {{ form.confirm_password(class_="input", placeholder=" ") }}
                <div class="cut" style="width:120px"></div>
                {{ form.confirm_password.label(class_="placeholder") }}
            </div>
            <div class="input-container ic2">
                {{ form.date_of_birth(class_="input", placeholder=" ") }}
                <div class="cut" style="width:85px"></div>
                {{ form.date_of_birth.label(class_="placeholder") }}
            </div>
            <button type="text" class="submit">Register</button>
        </form>
        <br>
        <div class="login"><a href="{{ url_for('login') }}">Log In</a></div>
        <br>
        <div class="subtitle">Forgotten your password?</div>
    </div>
{% endblock content %}