{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name }} {% for error in form.name.errors %} <span style="color: red;">[{{ error }}]</span> {% endfor %}
        {{ form.email.label }} {{ form.email }} {% for error in form.email.errors %} <span style="color: red;">[{{ error }}]</span> {% endfor %}
        {{ form.password.label }} {{ form.password }} {% for error in form.password.errors %} <span style="color: red;">[{{ error }}]</span> {% endfor %}
        {{ form.confirm_password.label }} {{ form.confirm_password }} {% for error in form.confirm_password.errors %} <span style="color: red;">[{{ error }}]</span> {% endfor %}
        {{ form.date_of_birth.label }} {{ form.date_of_birth }} {% for error in form.date_of_birth.errors %} <span style="color: red;">[{{ error }}]</span> {% endfor %}
        <input type="submit" value="Register">
    </form>
{% endblock content %}