{% extends "layout.html" %}
{% block content %}
    <h1>Teacher Admin Page</h1>
    <h3>Select a Class:</h3>
    <!--Display list of classes under the teacher's ID-->
    {% for class in classes %}
        <div class="navbar_item">
            <form action="{{ url_for('view_class', class_id=class.id) }}">
                <button class="profile">{{ class.name }} | Date created: {{ class.date_created }}</button>
            </form>
        </div>
        <br>
    {% endfor %}

    <hr>
    
    <h3>Create a New Class</h3>
    <!--New class button-->
    <div class="navbar_item">
        <form action="{{ url_for('new_class') }}">
            <button class="register" style="width:15vw">New Class</button>
        </form>
    </div>
{% endblock %}