{% extends "layout.html" %}
{% block content %}
    <h1>View Class</h1>
    <h3>Class name: {{ t_class.name }}</h3>

    <p>Students of class:</p>
    <ul>
    {% for student in students %}
        <li><p>{{ student.first_name }} {{student.last_name}}</p></li>
    {% endfor %}
    </ul>
    <p>Date and time created: {{ t_class.date_created }}</p>
    <br>
    <div>
        <div class="navbar_item">
            <form action="{{ url_for('teacher_home') }}">
                <button class="register" style="width:15vw; float: left;">Back</button>
            </form>
        </div>
        <div class="navbar_item">
            <form action="{{ url_for('set_homework', class_id=t_class.id) }}">
                <button class="register" style="width:20vw; float: right;">Set Homework</button>
            </form>
        </div>
    </div>
    <br><br><br>
    <hr>
    <h3>Homeworks Set</h3>
    {% for hw in homeworks %}
        <div class="hw_list">
            <p>Due date: {{ hw.due_date.date() }} | Notes: {{ hw.notes }}</p>
            <form action="{{ url_for('view_homework', homework_id=hw.id) }}">
                <button class="profile" style="width: 25vw; text-transform: uppercase;">View results</button>
            </form>
        </div>
        <br>
    {% endfor %}
{% endblock %}