{% extends "layout.html" %}
{% block content %}
    <h1>View Class</h1>
    <h3>Class name: {{ t_class.name }}</h3>

    <p>Students of class:</p>
    <ul>
    {% for student in students %}
        <li><p>{{ student.first_name }} {{student.last_name}}</p></li>
    {% endfor %}
    </ul>
    <p>Date and time created: {{ t_class.date_created }}</p>
    <br>
    <div class="navbar_item">
        <form action="{{ url_for('teacher_home') }}">
            <button class="register" style="width:15vw">Back</button>
        </form>
    </div>
{% endblock %}