{% extends "layout.html" %}
{% block content %}
    <script src="../../static/topics.js" type="module"></script>
    <div class="topic_navbar">
        <button>Notes</button>
        <button>Video</button>
        <button>Game</button>
        <button>Test</button>
    </div>
    <div class="main">
        <h1>Cyberbullying</h1>
        {% if session['activity_type'] %}
            <!-- Where the div class contains activity_type, also add 'content_inside_active' -->
            <h3>Navigate to the homework you were given</h3>
        {% endif %}
        <div id="content">
            <div id="notes" class="content_inside">
                <pre>Cyberbullying is a form of bullying which takes place online. It is behaviour which hurts someone, and it can happen to anyone on any online form.
                    
                    Some examples of cyberbullying include name calling, spreading rumours online, posting pictures of someone without their permission, online harassment and threatening someone. Most cyberbullying takes place on social media but can also happen through gaming platforms and mobile phones, just to name a few.
                    
                    Here are some facts about cyberbullying:
                        •	84% of children aged 8-17 years old have experienced some form of cyberbullying
                        •	99% of children have been online at some point in their lives
                        •	Girls are more likely than boys to be victims and perpetrators of cyberbullying
                        •	About half of LGBTQ+ students have experienced online bullying
                        •	60% of young people believe social media companies should do more to tackle cyberbullying
                        •	Only 1 in 10 teenage victims would inform a parent or carer if they were being cyberbullied
                    
                        There are many signs that can indicate someone is being cyberbullied. Some of these to look out for are:
                        •	Being upset during or after using the internet
                        •	Spending more time than usual in their room
                        •	Avoiding social gatherings
                        •	Changes in mood, behaviour, or sleep
                        •	Being visibly nervous when a notification arrives on a device
                        •	Using a computer or device less than usual 
                    
                        There are particular groups of people who are most susceptible to being victims of cyberbullying:
                        •	Girls - It has been found that girls experience more cyberbullying than boys do
                        •	LGBTQ+ - Members of this group (especially youth) are more likely to be bullied compared to others
                        •	Special needs students - Pupils with special needs are two to three times more likely to experience bullying from contemporaries
                   
                    If someone you know is being bullied, or you suspect they are, the best thing you can do is to show your support for them. In addition to this, you should try to talk to them about what is happening. Other things you can do to help are:
                        •	Let them know it’s not their fault
                        •	Notify someone more responsible, such as a parent/carer or teacher at school
                        •	Encourage them to not respond or retaliate to the cyberbullying
                        •	Keep records
                        •	Report a post or account
                        •	Block the account responsible for the cyberbullying
                        •	Get help from a helpline
                   
                    There are many online companies and phonelines which anyone can contact if they feel like they are (or known someone else who is) being cyberbullied. Some helplines are shown below:
                        •	Childline - 0800 1111
                            -	If you are under 18 years old
                            -	Available 24/7
                            -	Counselling and advice for children in distress or suffering abuse
                        •	NSPCC Helpline - 0808 800 5000
                            -	If you are an adult concerned about the safety of a child
                            -	Available 24/7
                        •	Young Minds - 0808 802 5544
                            -	Advice for parents on bullying and mental health
                            -	Open Monday-Friday 9:30am-4pm
                   </pre>
                <hr>
                <h3>Questions</h3>
                <form action="{{ url_for('check_answers', answers=notes_answers, activity_id='1') | safe }}" method="POST">
                    {{ notes_form.csrf_token }}

                    <p>{{ notes_form.q1.label }}</p>
                    {{ notes_form.q1 }}
                    <p>{{ notes_form.q2.label }}</p>
                    {{ notes_form.q2 }}
                    <p>{{ notes_form.q3.label }}</p>
                    {{ notes_form.q3 }}
                    <p>{{ notes_form.q4.label }}</p>
                    {{ notes_form.q4 }}
                    <p>{{ notes_form.q5.label }}</p>
                    {{ notes_form.q5 }}
                    {{ notes_form.submit }}
                </form>
            </div>
            <div id="video" class="content_inside">
                <h3>This section will hold a video with a demo or walkthrough of a task</h3>
                <video controls>
                    <source src={{ url_for('static', filename="videos/demo.mp4") }} type="video/mp4">
                Your browser does not support the video tag.
                </video>
                <hr>
                <h3>Questions</h3>
                <!-- Change this form to the video questions -->
                <form action="{{ url_for('check_answers', answers=notes_answers, activity_id='1') | safe }}" method="POST">
                    {{ notes_form.csrf_token }}

                    <p>{{ notes_form.q1.label }}</p>
                    {{ notes_form.q1 }}
                    <p>{{ notes_form.q2.label }}</p>
                    {{ notes_form.q2 }}
                    <p>{{ notes_form.q3.label }}</p>
                    {{ notes_form.q3 }}
                    <p>{{ notes_form.q4.label }}</p>
                    {{ notes_form.q4 }}
                    <p>{{ notes_form.q5.label }}</p>
                    {{ notes_form.q5 }}
                    {{ notes_form.submit }}
                </form>
            </div>
            <div id="game" class="content_inside">
                <h3>A JavaScript game will go here</h3>
                <p>They will be asked questions, and given 50 points if they get it correct</p>
                <p>The amount of time left to answer the question will used:</p>
                <p>Points awarded = 50 * (time_left / total_time)</p>
                <p>Click on <a href="{{ url_for('cyberbullying_pong') }}">this link</a> to go to the game</p>
            </div>
            <div id="test" class="content_inside">
                <h3>A test will go here</h3>
                <p>Will be a larger version of the questions given in the text section</p>
                <p>Will get a certain number of points given for each question</p>
                <p>So total number of points will be multiplied by a value</p>
                <p>(Total value to be decided)</p>
                <p>Give more points for the test than compared to other activities as it is trickier</p>
                <p>Click below to go to the test</p>
                <div class="navbar_item">
                    <form action="{{ url_for('test', activity_id=4) }}">
                        <button class="profile">Start the test</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}