{% extends "layout.html" %}
{% block content %}
    <script src="../../static/topics.js" type="module"></script>
    <div class="topic_navbar">
        <button>Notes</button>
        <button>Video</button>
        <button>Game</button>
        <button>Test</button>
    </div>
    <div class="main">
        <h1>Cyberbullying</h1>
        <div id="content">
            <div class="content_inside">
                <pre>{{ notes }}</pre>
                <hr>
                <p>1) Questions can then go here:</p>
                <form>
                    <input type="radio" id="a1" name="#"><label for="a1">Answer 1</label></br>
                    <input type="radio" id="a2" name="#"><label for="a2">Answer 2</label></br>
                    <input type="radio" id="a3" name="#"><label for="a3">Answer 3</label></br>
                    <input type="radio" id="a4" name="#"><label for="a4">Answer 4</label></br>
                    <input type="submit" value="Submit" style="margin-left: 20px">
                </form>
            </div>
            <div class="content_inside">
                <h3>This section will hold a video with a demo or walkthrough of a task</h3>
                <video controls>
                    <source src={{ url_for('static', filename="videos/demo.mp4") }} type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>
            <div class="content_inside">
                <h3>A JavaScript game will go here</h3>
                <p>They will be asked questions, and given 50 points if they get it correct</p>
                <p>The amount of time left to answer the question will used:</p>
                <p>Points awarded = 50 * (time_left / total_time)</p>
                <p>Click on <a href="{{ url_for('cyberbullying_pong') }}">this link</a> to go to the game</p>
            </div>
            <div class="content_inside">
                <h3>A test will go here</h3>
                <p>Will be a larger version of the questions given in the text section</p>
                <p>Will get a certain number of points given for each question</p>
                <p>So total number of points will be multiplied by a value</p>
                <p>(Total value to be decided)</p>
                <p>Give more points for the test than compared to other activities as it is trickier</p>
            </div>
        </div>
    </div>
{% endblock content %}