{% extends "layout.html" %}
{% block content %}
    <script src="../../static/topics.js" type="module"></script>

    <div class="topic_navbar">
        <button class="button_active">Notes</button>
        <button>Video</button>
        <button>Game</button>
        <button>Test</button>
    </div>
    <div class="main">
        <br>
        <h1>Databases</h1>
        <div id="content">
            <div class="content_inside">
                {{ notes }}
            </div>
            <div class="content_inside">
                video goes here
            </div>
            <div class="content_inside">
                game goes here
            </div>
            <div class="content_inside">
                test goes here
            </div>
        </div>
    </div>
{% endblock content %}