body {
    margin: 0px;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica,
        Arial, sans-serif;
    background-color: #0e0056;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

p {
    color: white;
}

pre {
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica,
        Arial, sans-serif;
}

td {
    color: white;
}

button {
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica,
        Arial, sans-serif;
}

li {
    color: white;
}

a:link {
    text-decoration: none;
}

#header {
    background-color: #0c0048;
}

.navbar {
    color: white;
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    -moz-box-shadow: 0px 4px 5px 0px rgba(191, 122, 122, 0.71);
    transition: 0.3s;
}

.navbar > * div:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-left div:hover {
    color: white;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left a {
    color: white;
}

.navbar-left > *,
.navbar-right > * {
    margin: 10px;
    color: white;
    transition: 0.3s;
}

.login,
.register,
.profile,
.logout,
.edit_details {
    font-weight: 500;
    border: 1px solid #002252;
    border-radius: 40px;
    color: white;
    padding: 5px 20px 5px 20px;
    font-weight: 600;
    border-radius: 9px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.login:hover,
.register:hover,
.profile:hover,
.logout:hover
.edit_details:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
}

.login {
    background-color: #5cd8f8;
    
}

.register {
    background-color: rgb(64, 164, 227);
}

.profile {
    background-color: rgb(64, 164, 227);
}

.logout {
    background-color: rgb(39, 0, 167);
}

.register:hover {
    background-color: rgba(0, 0, 0, 0.7)
}

.login:hover {
    background-color: rgba(0, 0, 0, 0.6)
}

.form {
    margin: auto;
    text-align: center;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 320px;
}

.f_login {
    height: 500px;
}

.f_register {
    height: 820px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}
  
.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}
  
.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
}
  
.cut-short {
    width: 50px;
}
  
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
  
.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}
  
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
  
.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
  
.input:focus ~ .placeholder {
    color: #dc2f55;
}
  
.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}
  
.submit:active {
    background-color: #06b;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    column-gap: 3%;
    row-gap: 8%;
}

.grid-item {
    color: black;
    margin: auto;
    width: 22vw;
    height: 26vh;
    border: solid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-position: center center;
    background-size: cover;
    transition: 0.3s ease;
}

.grid-item:hover {
    opacity: 0.6;
    transform: scale(1.05);
    transition: 0.3s ease;
}

.cyberbullying {
    background-image: url('images/cyberbullying.png');
}

.phishing {
    background-image: url('images/phishing.png');
}

.suspiciouslink {
    background-image: url('images/suspiciousLink.png');
}

.databases {
    background-image: url('images/database.jpg')
}

.topic_navbar {
    overflow: hidden;
    left: 0;
    width: 100%;
    margin-top: 5px;
}
    
.topic_navbar button {
    width: 25%;
    height: 45px;
    float: left;
    color: #4891d4;
    background-color: #000878;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

.topic_navbar button:hover {
    color: white;
    background-color: rgb(22, 142, 255);
    transition: 0.2s;
    opacity: 0.6;
}

.main {
    padding: 16px;
    margin-top: 5px;
}

.leaderboard {
    margin-left: auto;
    margin-right: auto;
}

.homework_result_table { 
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
}

.leaderboard td, th {
    font-weight: 500;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    font-weight: 600;
    border-radius: 9px;
    border: 0;
    color: #eee;
    font-size: 18px;
    height: 20px;
    outline: 0;
    padding: 10px;
}

.leaderboard th {
    text-align: center;
}

.leaderboard tr:nth-child(1) {
    background-color: #2428F9;
}

.leaderboard tr:nth-child(2) {
    background-color: gold;
}

.leaderboard tr:nth-child(3) {
    background-color: silver;
}

.leaderboard tr:nth-child(4) {
    background-color: #CD7F32;
}

.leaderboard tr:nth-child(n+5) {
    background-color: #2428F9;
}

.content_inside {
    display: none;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
  
.content_inside_active {
    display: block;
}

video {
    display: block;
    margin: 0 auto;
    width: 75vw;
}

.user_details {
    margin-left: 5vw;
    border-radius: 9px;
    border: 0;
}

.profile_options {
    color: white;
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit_details {
    background-color: rgb(95, 47, 255);
}

.profile_options *:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.hw_list {
    border: 1px solid #ffffff;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    border-radius: 9px;
    box-sizing: border-box;
    width: 97vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}